*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 16px 48px;
}

.navbar a{
    text-decoration: none;
    color: white;   
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh - 60px);
}

.hero__section_logo{
    width: 300px;
    height: auto;
}

.hero__section_title{
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_container_location,
.input_container_search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 30px;
}

.input_container_location{
    width: 30%;
    border-right: solid 1px #e0e0e0;
}

.input_container_search{
    width: 70%;
}

.input_container_location_text,
.input_container_search_text{
    padding: 5px;
    outline: none;
    border: none;
    font-size: 14px;
}

.input_container_location_text,
.input_container_search_text{
    width: 95%;
}

.fa-location-dot{
    color: rgb(255, 150, 150);
}

.fa-magnifying-glass{
    color: grey;
}

.container{
    margin: 6rem auto;
    width: 75%;
}

.we__offer{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.we__offer a{
    text-decoration: none;
}

.we__offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease ;
    width: 350px;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding: 10px;
    color: rgb(29, 29, 29);
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 500;
}

.we__offer_content p{
    font-size: 14px;
}

.collections h1{
    font-weight: 500;
    font-size: 32px;
}

.collections .sub__heading_container{
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collections .sub__heading_container a{
    text-decoration: none;
    color: rgb(224, 89, 89);
}

.collection__card_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.collection__card_container a{
    text-decoration: none;
    color: black;
}

.collection__card_container .card{
    height: 300px;
    min-width: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.card1{
    background: url(images/collection1.jpg);
}

.card2{
    background: url(images/collection2.jpg);
}
.card3{
    background: url(images/collection3.jpg);
}
.card4{
    background: url(images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.8) 0%, 
        rgba(0, 0, 0 ,0.05) 50%,
        rgba(0, 0, 0, 0.05) 85%
        );
    z-index: 5;
}

.collection__card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 6;
    font-size: 0.9rem;
    padding: 12px 16px;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* .localities{
    width: 75%;
} */

.localities h1{
    font-weight: 300;
    font-size: 32px;
    color: rgb(59, 59, 59);
}

.localities__area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px 15px;
    margin-top: 30px;
}

.localities__area a{
    background-color: white;
    padding: 15px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    box-shadow: 0px 2px 5px #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.localities__area a:hover{
    transform: scale(1.005);
    box-shadow: 0px 5px 10px #e0e0e0;
}

.localities__area button{
    height: 84px;
    background-color: white;
    padding: 10px;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    box-shadow: 0px 2px 5px #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.localities__area_button h4{
    font-weight: 400;
    font-size: 18px;
}

.localities__area_button span{
    font-weight: 200;
    font-size: 16px;
}

.localities__area button{
    font-size: 18px;
    cursor: pointer;
}

.get__the_app{
    width: 100%;
    background-color: rgb(255, 251, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    margin-bottom: 0;
}

.semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.left{
    flex: 2;
}

.left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.right{
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2.8rem;
}

.right p{
    font-size: 16px;
    font-weight: 300;
}

.radio__buttons_container{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    align-items: center;
}

.radio__buttons_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 300;
}

.radio__buttons_container div input{
    width: 20px;
    height: 20px;
    accent-color: rgb(239, 79, 95);
}

.input__container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input__container input,
.input__container button{
    padding: 10px 12px;
    border-radius: 5px;
}

.input__container input{
    flex: auto;
    border: 1.5px solid rgb(211, 211, 211);
    outline: none;
    columns: rgb(210, 210, 210);
    font-size: 16px;
    font-weight: 300;
}

.input__container button{
    background-color: rgb(239, 79, 95);
    color: white;
    border: none;
    cursor: pointer;
}

.input__container button:hover{
    background-color: rgb(240, 44, 63);
}

.download__app_container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.download__app_container h5{
    font-weight: 200;
    color: grey;
}

.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 35%;
}

.explore__options{
    margin-top: 0;
    padding: 3rem 15%;
    background: #f5f5f572;   
    width: 100%;
    margin-bottom: 0;
}

.explore__options h1{
    font-weight: 400;
    font-size: 32px;
    color: rgb(59, 59, 59);
}

.explore__options_dropdown{
    padding-top: 20px;
}

.dropdownbtn{
    margin-bottom: 20px;
    width: 100%;
    transition: 3s linear;
}

.front{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownbtn button{
    width: 100%;
    padding: 20px;
    background-color: white;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    cursor: pointer;
}

.dropdownbtn button .front h5{
    font-size: 18px;
    font-weight: 400;
}

.dropdownbtn__content{
    display: none;
    padding-top: 25px;
    color: #9e9e9e;
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
}

.dropdownbtn__content a{
    text-decoration: none;
    color: #757575;
    font-weight: 300;
}

.dropdownbtn__content a:hover{
    color: black;
}

.dropdownbtn__content_restaurant_chains{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.dropdownbtn__content_cities_deliver{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.dropdownbtn__content_cities_deliver .cities_see_more{
    color: black;
    font-weight: 400;
    text-decoration: underline;
}

.dropdownbtn:hover .dropdownbtn__content{
    display: block;
}

.footer{
    width: 100%;
    background-color: #e3e3e353;
    margin: 0 auto;
}

.footer__content{
    width: 75%;
    margin: 0 auto;
    padding: 3rem 20px;
}

.footer__section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.footer__section1 img{
    width: 130px;
    height: auto;
}

.section1__button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.countries{
    position: relative;
}

.section1__button_container button{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: 1px solid #919191;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.hidden_container{
    display: none;
    position: absolute;
}

.countries_hidden{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background: white;
    padding: 20px;
    z-index: 1;
    border-radius: 0.6rem;
}

.countries_hidden a,
.languages_hidden a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 16px;
}

.section1__button_container a:hover{
    background-color: #e0e0e05d;
}

.countries_india,
.languages_english{
    background-color: rgb(215, 234, 251);
}

.countries_hidden img{
    margin-right: 10px;
}

/* .countries:hover .hidden_container,
.languages:hover .hidden_container{
    display: block;
} */

.languages{
    position: relative;
}

.languages_hidden{
    display:grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 5px #e0e0e0;
    position: absolute;
}

.languages_hidden a{
    padding: 5px;
}

.pointer{
	height: 30px;
	width: 30px;
	background: white;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 0.6px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 20px);
}

.navigation_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 60px;
}

.link_container{
    display: flex;
    flex-direction: column;    
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.link_container h5{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.link_container a{
    text-decoration: none;
    color: #919191;
    font-weight: 200;
    font-size: 15px;
}

.link_container a:hover{
    color: black;
}

.social_link_container .fa-stack-2x{
    color: black;
}

.link_container img{
    width: 70%;
}

hr{
    height: 0.5px;
    background-color: #cecece;
    border: none;
}

.disclaimer{
    margin:24px 0 18px;
    color: black;
    font-weight: 200;
    font-size: 13px;
}

@media only screen and (max-width: 1300px) {
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right {
      flex: 1;
    }
  
    .get__the_app .semiContainer {
      width: 80%;
    }
}
  
@media only screen and (max-width: 900px) {
    .get__the_app {
      padding: 2rem;
    }
  
    .get__the_app .semiContainer {
      width: 90%;
    }

    .dropdownbtn__content_cities_deliver{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navigation_container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 800px) {
    .localities h1{
        text-align: center;
    }
}
  
@media only screen and (max-width: 700px) {
    .get__the_app {
      padding: 3rem 0;
    }
  
    .get__the_app .semiContainer {
      width: 80%;
      flex-direction: column;
    }

    .dropdownbtn__content_cities_deliver{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .navbar__menu_container .user__icon{
        display: flex;
    }

    .link{
        display: none;
    }

    .navbar{
        padding: 16px;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section_container{
        height: calc(80vh - 60px);
    }

    .hero__section_title{
        font-size: 20px;
        width: 95%;
        text-align: center;
    }

    .hero__section_input_container{
        flex-direction: column;
        width: 100%;
        background: transparent;
    }

    .input_container_location,
    .input_container_search{
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .localities__area{
        grid-template-columns: 1fr 1fr;
    }

    .dropdownbtn__content_restaurant_chains{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__section1{
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .localities__area{
        grid-template-columns: 1fr;
    }

    .dropdownbtn__content_restaurant_chains{
        grid-template-columns: 1fr 1fr;
    }

    .dropdownbtn__content_cities_deliver{
        grid-template-columns: 1fr 1fr;
    }

    .navigation_container{
        grid-template-columns: repeat(1, 1fr);
    }
}