*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 16px 48px;
}

.navbar a{
    text-decoration: none;
    color: white;   
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh - 60px);
}

.hero__section_logo{
    width: 300px;
    height: auto;
}

.hero__section_title{
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_container_location,
.input_container_search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 30px;
}

.input_container_location{
    width: 30%;
    border-right: solid 1px #e0e0e0;
}

.input_container_search{
    width: 70%;
}

.input_container_location_text,
.input_container_search_text{
    padding: 5px;
    outline: none;
    border: none;
    font-size: 14px;
}

.input_container_location_text,
.input_container_search_text{
    width: 95%;
}

.fa-location-dot{
    color: rgb(255, 150, 150);
}

.fa-magnifying-glass{
    color: grey;
}

.container{
    margin: 2.5rem auto 6rem;
    width: 75%;
}

.we__offer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.we__offer a{
    text-decoration: none;
}

.we__offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease ;
    width: 350px;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.we__offer_content{
    padding: 10px;
    color: rgb(29, 29, 29);
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 500;
}

.we__offer_content p{
    font-size: 14px;
}

.collections h1{
    font-weight: 500;
    font-size: 32px;
}

.collections .sub__heading_container{
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collections .sub__heading_container a{
    text-decoration: none;
    color: rgb(224, 89, 89);
}

.collection__card_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.collection__card_container a{
    text-decoration: none;
    color: black;
}

.collection__card_container .card{
    height: 300px;
    min-width: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.card1{
    background: url(images/collection1.jpg);
}

.card2{
    background: url(images/collection2.jpg);
}
.card3{
    background: url(images/collection3.jpg);
}
.card4{
    background: url(images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.8) 0%, 
        rgba(0, 0, 0 ,0.05) 50%,
        rgba(0, 0, 0, 0.05) 85%
        );
    z-index: 5;
}

.collection__card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 6;
    font-size: 0.9rem;
    padding: 12px 16px;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* .localities{
    width: 75%;
} */

.localities h1{
    font-weight: 300;
    font-size: 32px;
    color: rgb(59, 59, 59);
}

.localities__area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px 15px;
    margin-top: 30px;
}

.localities__area a{
    background-color: white;
    padding: 15px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    box-shadow: 0px 2px 5px #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.localities__area a:hover{
    transform: scale(1.005);
    box-shadow: 0px 5px 10px #e0e0e0;
}

.localities__area button{
    height: 84px;
    background-color: white;
    padding: 10px;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    box-shadow: 0px 2px 5px #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.localities__area_button h4{
    font-weight: 400;
    font-size: 18px;
}

.localities__area_button span{
    font-weight: 200;
    font-size: 16px;
}

.localities__area button{
    font-size: 18px;
}

.get__the_app{
    width: 100%;
    background-color: rgb(255, 251, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}

.semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.left{
    flex: 2;
}

.left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.right{
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2.8rem;
}

.right p{
    font-size: 16px;
    font-weight: 300;
}

.radio__buttons_container{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    align-items: center;
}

.radio__buttons_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 300;
}

.radio__buttons_container div input{
    width: 20px;
    height: 20px;
    accent-color: rgb(239, 79, 95);
}

.input__container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input__container input,
.input__container button{
    padding: 10px 12px;
    border-radius: 5px;
}

.input__container input{
    flex: auto;
    border: 1.5px solid rgb(211, 211, 211);
    outline: none;
    columns: rgb(210, 210, 210);
    font-size: 16px;
    font-weight: 300;
}

.input__container button{
    background-color: rgb(239, 79, 95);
    color: white;
    border: none;
    cursor: pointer;
}

.input__container button:hover{
    background-color: rgb(240, 44, 63);
}

.download__app_container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.download__app_container h5{
    font-weight: 200;
    color: grey;
}

.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 35%;
}

@media only screen and (max-width: 1300px) {
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right {
      flex: 1;
    }
  
    .get__the_app .semiContainer {
      width: 80%;
    }
}
  
@media only screen and (max-width: 900px) {
    .get__the_app {
      padding: 2rem;
    }
  
    .get__the_app .semiContainer {
      width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .localities h1{
        text-align: center;
    }
}
  
@media only screen and (max-width: 700px) {
    .get__the_app {
      padding: 3rem 0;
    }
  
    .get__the_app .semiContainer {
      width: 80%;
      flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .navbar__menu_container .user__icon{
        display: flex;
    }

    .link{
        display: none;
    }

    .navbar{
        padding: 16px;
    }

    .hero__section{
        min-height: 80vh;
    }

    .hero__section_container{
        height: calc(80vh - 60px);
    }

    .hero__section_title{
        font-size: 20px;
        width: 95%;
        text-align: center;
    }

    .hero__section_input_container{
        flex-direction: column;
        width: 100%;
        background: transparent;
    }

    .input_container_location,
    .input_container_search{
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .localities__area{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 450px) {
    .localities__area{
        grid-template-columns: 1fr;
    }
}